@model LoginModel
@{
    ViewBag.Title = Resources.Account.Title_Login;
}
<style>
    .col-group {
        padding-top:40px;
    }
    .panel-heading {
        padding: 5px 15px;
    }
    .panel-footer {
        padding: 1px 15px;
        color: #A0A0A0;
    }
    .profile-img {
        width: 96px;
        margin: 0 auto 10px;
        display: block;
    }
    .field-validation-error {
        width: 100%;
        color: #BF100B;
        display:block;
        text-align: center;
        padding-bottom: 10px;
    }
</style>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-3 col-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>@Resources.Account.SignInToContinue</strong>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <fieldset>
                        <div class="row">
                            <div class="center-block">
                                <img class="profile-img" src="~/Content/Images/alert-red.png" alt="">
                            </div>
                            @Html.ValidationMessageFor(m => m.UserName)
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-user"></i>
                                        </span>
                                        <input class="form-control" placeholder="@Resources.Account.Placeholder_LoginName" name="UserName" type="text" autofocus>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-lock"></i>
                                        </span>
                                        <input class="form-control" placeholder="@Resources.Account.Placeholder_Password" name="Password" type="password" value="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="@Resources.Account.SignIn">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
            <div class="panel-footer ">
                @Resources.Account.DontHaveAnAccount
                <a href="~/Account/Register">@Resources.Account.SignUpHere</a>
            </div>
        </div>
    </div>
</div>
